USE [Blog]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 6/15/2020 12:11:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[MAADMIN] [char](10) NOT NULL,
	[TENTAIKHOAN] [char](30) NULL,
	[MATKHAU] [char](30) NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[MAADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 6/15/2020 12:11:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACHUDE] [char](10) NOT NULL,
	[TENCHUDE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CHUDE] PRIMARY KEY CLUSTERED 
(
	[MACHUDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 6/15/2020 12:11:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MATACGIA] [char](30) NOT NULL,
	[TENTAGIA] [nvarchar](50) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MATACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIN]    Script Date: 6/15/2020 12:11:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIN](
	[MATIN] [char](10) NOT NULL,
	[TENTIN] [nvarchar](50) NULL,
	[MOTA] [nvarchar](max) NULL,
	[NGAYDANG] [datetime] NULL,
	[MATACGIA] [char](30) NULL,
	[MACHUDE] [char](10) NULL,
 CONSTRAINT [PK_TIN] PRIMARY KEY CLUSTERED 
(
	[MATIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ADMIN] ([MAADMIN], [TENTAIKHOAN], [MATKHAU]) VALUES (N'1         ', N'TAI                           ', N'123456                        ')
INSERT [dbo].[CHUDE] ([MACHUDE], [TENCHUDE]) VALUES (N'A1        ', N'GIAODUC')
INSERT [dbo].[TACGIA] ([MATACGIA], [TENTAGIA]) VALUES (N'TG1                           ', N'PORNHUB')
INSERT [dbo].[TIN] ([MATIN], [TENTIN], [MOTA], [NGAYDANG], [MATACGIA], [MACHUDE]) VALUES (N'MT1       ', N'HỌC SINH NGHỈ HỌC VÌ COVID', N'Trưa ngày 13.3 , UBND TP.HCM đã thông báo tiếp tục kéo dài thời gian tạm nghỉ học đối với học sinh từ mầm non đến THPT đến hết ngày 5.4  để phòng, chống dịch Covid-19.', CAST(N'2020-03-13T00:00:00.000' AS DateTime), N'TG1                           ', N'A1        ')
ALTER TABLE [dbo].[TIN]  WITH CHECK ADD  CONSTRAINT [FK_TIN_CHUDE] FOREIGN KEY([MACHUDE])
REFERENCES [dbo].[CHUDE] ([MACHUDE])
GO
ALTER TABLE [dbo].[TIN] CHECK CONSTRAINT [FK_TIN_CHUDE]
GO
ALTER TABLE [dbo].[TIN]  WITH CHECK ADD  CONSTRAINT [FK_TIN_TACGIA] FOREIGN KEY([MATACGIA])
REFERENCES [dbo].[TACGIA] ([MATACGIA])
GO
ALTER TABLE [dbo].[TIN] CHECK CONSTRAINT [FK_TIN_TACGIA]
GO
